<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.llaccj.yizhong.service.others.WeekbestMapper">
  <resultMap id="BaseResultMap" type="org.llaccj.yizhong.module.Weekbest">
    <constructor>
      <idArg column="id" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="type" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="weeknum" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="content" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="time" javaType="java.util.Date" jdbcType="TIMESTAMP" />
    </constructor>
  </resultMap>
  <sql id="Base_Column_List">
    id, type, weeknum, content, time
  </sql>

  <select id="GetTitleClickupRanking" parameterType="java.lang.Integer" resultMap="BaseResultMap">
       select * from weekbest where weeknum = #{weeknum} and type = 0
  </select>
  <select id="getUserWeekBest" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select * from weekbest where weeknum = #{weeknum} and type = 1
  </select>




  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from weekbest
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from weekbest
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="org.llaccj.yizhong.module.Weekbest">
    insert into weekbest (id, type, weeknum, 
      content, time)
    values (#{id,jdbcType=INTEGER}, #{type,jdbcType=INTEGER}, #{weeknum,jdbcType=INTEGER}, 
      #{content,jdbcType=VARCHAR}, #{time,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="org.llaccj.yizhong.module.Weekbest">
    insert into weekbest
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="type != null">
        type,
      </if>
      <if test="weeknum != null">
        weeknum,
      </if>
      <if test="content != null">
        content,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="type != null">
        #{type,jdbcType=INTEGER},
      </if>
      <if test="weeknum != null">
        #{weeknum,jdbcType=INTEGER},
      </if>
      <if test="content != null">
        #{content,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="org.llaccj.yizhong.module.Weekbest">
    update weekbest
    <set>
      <if test="type != null">
        type = #{type,jdbcType=INTEGER},
      </if>
      <if test="weeknum != null">
        weeknum = #{weeknum,jdbcType=INTEGER},
      </if>
      <if test="content != null">
        content = #{content,jdbcType=VARCHAR},
      </if>
      <if test="time != null">
        time = #{time,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="org.llaccj.yizhong.module.Weekbest">
    update weekbest
    set type = #{type,jdbcType=INTEGER},
      weeknum = #{weeknum,jdbcType=INTEGER},
      content = #{content,jdbcType=VARCHAR},
      time = #{time,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>